.PetInfoCard {
  margin: 25px;
  box-shadow: 5px 5px 12px rgba(107, 107, 107, 0.2);
  padding: 20px;
  strong {
    font-weight: bolder;
  }
  .petImg {
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
    overflow: hidden;
    img {
      height: 150px;
      max-width: 200%;
      width: auto;
    }
  }
}
