$orange: #f77000;

.body-container {
  min-height: calc(100vh - 180px);
  .LoginPage {
    padding: 50px;
    h1 {
      margin-bottom: 40px;
      color: #333;
    }
    .btn-outline-secondary {
      margin-left: 20px;
    }
  }
}
.main-content {
  padding: 50px 70px;
  h2 {
    color: #fa9000;
    text-transform: uppercase;
  }
}

img {
  max-width: 100%;
}

.nav.nav-tabs {
  margin-bottom: 20px;
  margin-top: 20px;
  .nav-link {
    border-bottom: solid thin #dee2e6;
  }
  .nav-link.active {
    border-bottom: solid thin #fff;
  }
}

.react-datepicker-wrapper {
  margin-left: 15px;
}
