.sitterCard {
  .card {
    margin-top: 30px;
    padding: 30px;
    margin-left: 30px;
  }
  .card-body {
    padding: 30px;
    margin: 30px;
  }
  .buttons {
    a {
      margin-left: 10px;
    }
  }
}
