.familyCard {
  background: transparent;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
  .petImg {
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
    overflow: hidden;
    img {
      height: 150px;
      max-width: 200%;
      width: auto;
    }
  }
  p {
    margin-top: 20px;
    text-transform: uppercase;
    color: #333;
    &:hover {
      text-decoration: none;
    }
  }
}
