#sidebar {
  font-size: 22px;
  background: #f2f2f2;
  padding: 0;
  min-height: calc(100vh - 180px);
  .nav-link {
    padding: 17px 30px;
    color: #f77000;
  }
  .nav-link.active {
    background: #f77000;
    color: #fff;
  }
}
