.Header {
  background: #ccc;
  margin-right: -15px;
  margin-left: -15px;
  height: 80px;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .logo {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  img {
    width: 130px;
    margin: 10px auto;
  }
  .navbar {
    text-align: right;
  }
}
