.Header {
  background: #ccc;
  margin-right: 0;
  height: 80px;
  .logo {
    background: #e6e6e6;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  img {
    width: 130px;
    margin: 10px auto;
  }
  .navbar {
    
  }
}
